<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.vsagar.ObjectPlacement</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.vsagar.ObjectPlacement</string>
			</array>
		</dict>
	</array>
	<key>NSWorldSensingUsageDescription</key>
	<string>Scan your environment to allow accurate object placement.</string>
</dict>
</plist>
